mixin playlist(img,title)
	article(class!=attributes.class)
		h3= title
		img(class="playlist-cover__img" src=img.url alt=img.alt width=img.width height=img.height)
		div(class="controls")
			div(class="control")
				i(class="fa-solid fa-arrow-right-arrow-left")
				a(href="" target="_top") Convert Playlist
			div(class="control")
				i(class="fa-solid fa-trash-can")
				a(href="" target="_top") Remove Playlist